
.bookingCode {
    color: #5D5FEF;
}

.secondHeading {
    margin-left: 4rem;
    padding-bottom: 0.5rem;
}

.bookingCode {
    margin-left: 0.5rem;
}

.bookingCards {
    margin-left: 2rem;
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
    align-content: center;
}

.serviceCards1 {
    flex: 6;
}

.customerAndPayments {
    flex: 5;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}