.inputField {
    display: flex;
    justify-content: center;
    align-items: center;
}

.inputField>div {
    background-color: blue;
    width: 2rem;
    height: 2rem;
    box-sizing: content-box;
}

.text {
    padding: 0;
    margin: 0;
    height: 2rem;
}
