.accept, .reject {
    background-color: #5D5FEF;
    border-radius: 16px;
    cursor: pointer;
    width: 6rem;
    height: 1.5rem;
    display: block;
    margin: 1rem;
}

.fa-window-close {
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: end;
    align-items: end;
    cursor: pointer;
}

.acceptPageSecondarHeading {
    margin-left: 3rem;
}

.acceptPageSecondarHeading>p {
    font-weight: 400;
    font-size: 16px;
}

.detailsTabs {
    display: flex;
    justify-content: space-around;
}

.detailsTabs>div {
    border: solid 2px #5D5FEF;
    border-radius: 16px;
    padding: 0.5rem;
    cursor: pointer;
    width: 14%;
    text-align: center;
}