
.serviceCards {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    align-items: center;
    margin-right: 30px;
    margin-left: 10px;
}

.serviceSection{
    display: flex;
    align-items: stretch;
    align-items: center;
    margin-right: 30px;
    margin-left: 10px;
    border-left: 2px solid #C4C4C4;
    border-right: 2px solid #C4C4C4;
}

.serviceCode{
    text-align: center;
    display: inline-block;
    height: 5%;
    width: 15%;
    border-radius: 8% 0 0 0;
    background-color: #5D5FEF;
    color: white;
    margin-right: 0.1px;
    margin-left: 20px;
}

.serviceName{
    text-align: center;
    display: inline-block;
    height: 5%;
    width: 35%;
    background-color: black;
    color: white;
    align-items: stretch;
    align-items: center;
    margin-right: 0.1px;
    margin-left: 5px;
}

.serviceCategory{
    text-align: center;
    display: inline-block;
    height: 5%;
    width: 15%;
    background-color: #5D5FEF;
    color: white;
    align-items: stretch;
    align-items: center;
    margin-right: 0.1px;
    margin-left: 5px;
}

.date{
    text-align: center;
    display: inline-block;
    height: 5%;
    width: 15%;
    background-color: black;
    color: white;
    align-items: stretch;
    align-items: center;
    margin-right: 0.1px;
    margin-left: 5px;
}


.status{
    text-align: center;
    display: inline-block;
    height: 5%;
    width: 15%;
    background-color: #5D5FEF;
    color: white;
    align-items: stretch;
    align-items: center;
    margin-right: 0.1px;
    margin-left: 5px;
    border-radius: 0 0 10% 0;
}

.dateContainer{
    padding: 2% 0 0 0 ;
    width: 150px;
    color: #5D5FEF;
    background-color: white;
    border-radius: 20%;
    border: 2px solid #5D5FEF;
    margin-left: 5 px;
    margin-right: 5 px;
    margin: 10%;
}

.detailsContainer{
    border-color: #5D5FEF;
    color: #5D5FEF;
    border-radius: 20%;
}

.pendingButton{
    background-color: #FFC700;
    color: black;
    border: 2px solid #FFC700;
    border-radius: 16px;
    height: 1%;
    width: 60%;
}

.acceptedButton{
    background-color: #DCFFF5;
    color: #1FA47D;
    border: 2px solid #1FA47D;
    border-radius: 16px;
    height: 1%;
    width: 60%;
}

.rejectedButton{
    background-color: #FFE0D9;
    color: #BC3030;
    border: 2px solid #BC3030;
    border-radius: 16px;
    height: 1%;
    width: 60%;
}

.viewButton{
    background-color: white;
    color: #5D5FEF;
    font-size: small;
    border: 2px solid #5D5FEF;
    border-radius: 16px;
    height: 1%;
    width: 20%;
    margin-right: 5%;
    text-align: center;
    cursor: pointer;
}
