
.serviceCards {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    align-items: center;
    margin-right: 30px;
    margin-left: 10px;
}

.serviceSection{
    display: flex;
    align-items: stretch;
    align-items: center;
    margin-right: 30px;
    margin-left: 10px;
}

.serviceCode{
    text-align: center;
    display: inline-block;
    height: 5%;
    width: 15%;
    border-radius: 8% 0 0 0;
    background-color: #5D5FEF;
    color: white;
    margin-right: 0.1px;
    margin-left: 20px;
}

.serviceName{
    text-align: center;
    display: inline-block;
    height: 5%;
    width: 35%;
    background-color: black;
    color: white;
    align-items: stretch;
    align-items: center;
    margin-right: 0.1px;
    margin-left: 5px;
}

.serviceCategory{
    text-align: center;
    display: inline-block;
    height: 5%;
    width: 15%;
    background-color: #5D5FEF;
    color: white;
    align-items: stretch;
    align-items: center;
    margin-right: 0.1px;
    margin-left: 5px;
}

.date{
    text-align: center;
    display: inline-block;
    height: 5%;
    width: 15%;
    background-color: black;
    color: white;
    align-items: stretch;
    align-items: center;
    margin-right: 0.1px;
    margin-left: 5px;
}


.status{
    text-align: center;
    display: inline-block;
    height: 5%;
    width: 15%;
    background-color: #5D5FEF;
    color: white;
    align-items: stretch;
    align-items: center;
    margin-right: 0.1px;
    margin-left: 5px;
    border-radius: 0 0 10% 0;
}